Repository avirtuos/wormfs: changes, and which Codecov flags are due for each by the changed paths.
All: core, storage_node, cli

Phase 1B: Local File Operations
  docs/implementation.md
  src/integrity_checker.rs
  src/lib.rs
  src/storage_node.rs
Due: core, storage_node

Phase 1B: Local File Operations (#9)
  docs/implementation.md
  src/integrity_checker.rs
  src/lib.rs
  src/storage_node.rs
Due: core, storage_node

Phase 1C: Multi-Disk Support
  Cargo.lock
  Cargo.toml
  config/storage_node.yaml
  docs/implementation.md
  src/chunk_placement.rs
  src/disk_manager.rs
  src/lib.rs
Due: core

Phase 1C: Multi-Disk Support (#10)
  Cargo.lock
  Cargo.toml
  config/storage_node.yaml
  docs/implementation.md
  src/chunk_placement.rs
  src/disk_manager.rs
  src/lib.rs
Due: core

Fixing docker build
  Dockerfile
  proto/wormfs.proto
Due: none

Fixing docker build (#11)
  Dockerfile
  proto/wormfs.proto
Due: none

disabling push
  .github/workflows/ci.yml
Due: none

Build fix (#12)
  .github/workflows/ci.yml
Due: none

Fixing CI benchmark failure
  .github/workflows/ci.yml
Due: none

Fixing CI benchmark failure (#13)
  .github/workflows/ci.yml
Due: none

Phase 2A.1: Minimal libp2p Setup
  Cargo.lock
  Cargo.toml
  config/storage_node.yaml
  docs/implementation.md
  docs/phase_2a_detailed.md
  src/lib.rs
  src/networking.rs
  tests/networking_tests.rs
Due: core

Fixing dependency security issue
  Cargo.lock
  Cargo.toml
  docs/implementation.md
  docs/phase_2a_detailed.md
Due: none

Phase 2A.1: Minimal libp2p Setup (#14)
  Cargo.lock
  Cargo.toml
  config/storage_node.yaml
  docs/implementation.md
  docs/phase_2a_detailed.md
  src/lib.rs
  src/networking.rs
  tests/networking_tests.rs
Due: core

Phase 2A.2: Two-Node Connection
  docs/phase_2a_detailed.md
  src/networking.rs
  tests/networking_tests.rs
  tests/test_helpers.rs
Due: none

Phase 2A.2: Two-Node Connection (#15)
  docs/phase_2a_detailed.md
  src/networking.rs
  tests/networking_tests.rs
  tests/test_helpers.rs
Due: none

Phase 2A.3: Ping/Heartbeat Protocol
  Cargo.lock
  Cargo.toml
  docs/phase_2a_detailed.md
  src/networking.rs
  tests/networking_tests.rs
  tests/test_helpers.rs
Due: none

Phase 2A.3: Ping/Heartbeat Protocol (#16)
  Cargo.lock
  Cargo.toml
  docs/phase_2a_detailed.md
  src/networking.rs
  tests/networking_tests.rs
  tests/test_helpers.rs
Due: none

Phase 2A.4: Peer State Tracking
  docs/phase_2a_detailed.md
  src/networking.rs
  tests/networking_tests.rs
Due: none

Phase 2A.4: Peer State Tracking (#17)
  docs/phase_2a_detailed.md
  src/networking.rs
  tests/networking_tests.rs
Due: none

Phase 2A.5: Basic Peer Authentication
  Cargo.lock
  Cargo.toml
  config/storage_node.yaml
  docs/phase_2a_detailed.md
  src/networking.rs
  tests/networking_tests.rs
  tests/test_helpers.rs
Due: none

Phase 2A.5: Basic Peer Authentication (#18)
  Cargo.lock
  Cargo.toml
  config/storage_node.yaml
  docs/phase_2a_detailed.md
  src/networking.rs
  tests/networking_tests.rs
  tests/test_helpers.rs
Due: none

Phase 2A.6: Peer Discovery from Config
  config/storage_node.yaml
  docs/phase_2a_detailed.md
  src/networking.rs
  tests/networking_tests.rs
  tests/test_helpers.rs
Due: none

Phase 2A.6: Peer Discovery from Config (#19)
  config/storage_node.yaml
  docs/phase_2a_detailed.md
  src/networking.rs
  tests/networking_tests.rs
  tests/test_helpers.rs
Due: none

Phase 2A.7: Unresponsive Peer Detection
  src/networking.rs
  tests/networking_tests.rs
Due: none

fixing
  docs/phase_2a_detailed.md
Due: none

Phase 2A.7: Unresponsive Peer Detection (#20)
  docs/phase_2a_detailed.md
  src/networking.rs
  tests/networking_tests.rs
Due: none

Phase 2A.8: Basic Reconnection Logic
  config/storage_node.yaml
  docs/phase_2a_detailed.md
  retrieved_test.txt
  scripts/validate.sh
  src/networking.rs
  test_file.txt
  tests/networking_tests.rs
  tests/reconnection_tests.rs
  tests/test_helpers.rs
Due: none

Phase 2A.8: Basic Reconnection Logic (#21)
  config/storage_node.yaml
  docs/phase_2a_detailed.md
  retrieved_test.txt
  scripts/validate.sh
  src/networking.rs
  test_file.txt
  tests/networking_tests.rs
  tests/reconnection_tests.rs
  tests/test_helpers.rs
Due: none

Phase 2A.9: PeerManager Integration
  docs/phase_2a_detailed.md
  src/lib.rs
  src/networking.rs
  src/peer_authorizer.rs
  src/peer_manager.rs
  tests/networking_tests.rs
  tests/reconnection_tests.rs
  tests/test_helpers.rs
Due: core

Phase 2A.9: PeerManager Integration (#22)
  docs/phase_2a_detailed.md
  src/lib.rs
  src/networking.rs
  src/peer_authorizer.rs
  src/peer_manager.rs
  tests/networking_tests.rs
  tests/reconnection_tests.rs
  tests/test_helpers.rs
Due: core

Phase 2A.10: Multi-Node Integration Test
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  benches/networking_bench.rs
  docs/phase_2a_detailed.md
  tests/multi_node_tests.rs
  tests/stress_tests.rs
  tests/test_helpers.rs
Due: none

Phase 2A.10: Multi-Node Integration Test (#23)
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  benches/networking_bench.rs
  docs/phase_2a_detailed.md
  tests/multi_node_tests.rs
  tests/stress_tests.rs
  tests/test_helpers.rs
Due: none

Adding detailed plan for Phase 2B
  docs/implementation.md
  docs/phase_2b_detailed.md
Due: none

Adding detailed plan for Phase 2B (#24)
  docs/implementation.md
  docs/phase_2b_detailed.md
Due: none

Phase 2B.1: Custom Protocol Definition
  .gitignore
  build.rs
  docs/phase_2b_detailed.md
  proto/wormfs.proto
  src/lib.rs
  src/metadata_protocol.rs
  tests/metadata_protocol_tests.rs
Due: core

Phase 2B.1: Custom Protocol Definition (#25)
  .gitignore
  build.rs
  docs/phase_2b_detailed.md
  proto/wormfs.proto
  src/lib.rs
  src/metadata_protocol.rs
  tests/metadata_protocol_tests.rs
Due: core

Phase 2B.2: Basic Custom Protocol Handler
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  scripts/validate.sh
  src/lib.rs
  src/metadata_protocol_handler.rs
  src/networking.rs
  src/peer_manager.rs
Due: core

Updating plan doc
  docs/phase_2b_detailed.md
Due: none

Phase 2B.2: Basic Custom Protocol Handler (#28)
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  docs/phase_2b_detailed.md
  scripts/validate.sh
  src/lib.rs
  src/metadata_protocol_handler.rs
  src/networking.rs
  src/peer_manager.rs
Due: core

Phase 2B.3: Event Broadcasting Foundation
  .github/workflows/ci.yml
  Dockerfile
  docs/phase_2b_detailed.md
  proto/wormfs.proto
  src/lib.rs
  src/metadata_protocol.rs
  src/metadata_replicator.rs
  src/networking.rs
Due: core

Path conditions:
  core: any of: src/lib.rs, src/chunk_format.rs, src/erasure_coding.rs, src/metadata_store.rs, src/storage_layout.rs
  storage_node: any of: src/storage_node.rs
  cli: any of: src/main.rs
